{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "oclif",
    "oclif-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "tsconfig.json",
    "createDefaultProgram": true
  },
  "plugins": [
    "@typescript-eslint",
    "unicorn"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": "error",
    "no-duplicate-imports": "error",
    "no-irregular-whitespace": "error",
    "no-shadow": [
      "error",
      {
        "hoist": "never"
      }
    ],
    "no-trailing-spaces": "error",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ],
    "no-useless-constructor": "error",
    "no-var": "error",
    "prefer-const": "error",
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "kebabCase": true
        }
      }
    ],
    "object-curly-spacing": ["error", "always"]
  }
}
